# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller folders
build/
dist/
*.spec

# Virtual environment
venv/
env/
.venv/

# IDE files
.vscode/
.idea/

# Database / Logs
logs/
*.db

# Output folders
output/
*.bin

# Temporary files / OS files
*.tmp
.DS_Store
Thumbs.db
